@mixin Flex( $direction, $wrap, $align, $content) {
    display: flex;
    flex-direction: $direction;
    flex-wrap: $wrap;
    align-items: $align;
    justify-content: $content;
}

.ProjectPage{
    width: 100%;
    height: auto;
    @include Flex(column, nowrap, center, center);
    gap: 30px;
}